@model VideoGameStore.Models.Publisher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.publisher_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.publisher_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
