@model VideoGameStore.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.invoice_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invoice_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_invoice_closed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_invoice_closed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit_Card.credit_card_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit_Card.credit_card_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.invoice_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
