@model VideoGameStore.Models.Sales_Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sales_Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Units_Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Units_Sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profit_Margin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profit_Margin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Profit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Profit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.game_name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
