@model VideoGameStore.Models.Wish_List

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wish_List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.game_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.game_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.wish_list_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
