@model IEnumerable<VideoGameStore.Models.Wish_List>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_added)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.game_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_added)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.game_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.wish_list_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.wish_list_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.wish_list_id })
        </td>
    </tr>
}

</table>
