
@{
    ViewBag.Title = "Profiles";
}

<h2>Profiles</h2>
<ul>
    @*<li>@Html.ActionLink("My Profile", "Index", "MyProfile")</li>             ** doesn't exist yet - or send to customer index with cust_id   *@   
    @*<li>@Html.ActionLink("My Library", "Index", "MyLibrary")</li>             ** doesn't exist yet - or send to customer_game index with cust id   *@   
    @*<li>@Html.ActionLink("My Wish List", "Index", "MyWishList")</li>             ** doesn't exist yet  - or send to wishlist index with cust id  *@
    @*<li>@Html.ActionLink("My Addresses", "Index", "MyAddresses")</li>             ** doesn't exist yet  or send to address index passing cust id  *@
    @*<li>@Html.ActionLink("My Credit Cards", "Index", "MyCreditCards")</li>             ** doesn't exist yet - or send to creditcard index passing cust id    *@   
    <li>@Html.ActionLink("View Profiles", "Index", "Customers")</li>   
</ul>

