@model IEnumerable<VideoGameStore.Models.User>

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayNameFor(model => model.username) </td>
            <td>@Html.DisplayFor(modelItem => item.username)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => item.first_name) </td>
            <td>@Html.DisplayFor(modelItem => item.last_name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.email) </td>
            <td>@Html.DisplayFor(modelItem => item.email)</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Friend List", "Index", "Friend_List", new { id = item.user_id }, null)</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Add Friend", "Create", "Friend_List", new { id = item.user_id }, null)</td>
        </tr>
        <tr>Library</tr>
    }
</table>


