@model VideoGameStore.Models.User_Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User_Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_purchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_purchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.game_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.game_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_game_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
