@* File Name: 
 * Index.cs
 * 
 * File Description:
 * Index view for the Events Controller. Displays all events in a tabular-like fashion.
 *
 * Revision History:   
 * 4-12-2016, Greg Shalay: Created File
 * 5-12-2016, Greg Shalay: Created Code       
*@

@model IEnumerable<VideoGameStore.Models.Store_Event>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create", "Events")">Create New Event</a>
    <a class="btn btn-primary" href="@Url.Action("UserEventsIndex", "Events")">Profile Index</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.store_event_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_registrants)
        </th>
        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Employee")) {
                <th>
                    @Html.DisplayNameFor(model => model.is_full)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.is_members_only)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.is_cancelled)
                </th>
            }
        <th>
            @Html.DisplayNameFor(model => model.Address.street_address)
        </th>
        <th></th>
    </tr>

@{  string[] user_events = ViewData["user_events"] as string[];
    int counter = 0;
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.store_event_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.max_registrants)
            </td>

            @if (this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
            {
                    <td>
                        @Html.DisplayFor(modelItem => item.is_full)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_members_only)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_cancelled)
                    </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Address.street_address)
            </td>
            <td>
                @{  if (user_events[counter] == null)
                    {
                        <p><a class="btn btn-success" href="@Url.Action("Register", "Events", new { store_event_id = item.store_event_id })">Register For Event</a></p>
                        <p><a class="btn btn-primary" href="@Url.Action("Details", "Events", new { id = item.store_event_id })">Event Details</a></p>
                    }
                    else if (user_events[counter] == item.store_event_id.ToString())
                    {
                        <p><a class="btn btn-danger" href="@Url.Action("UnRegister", "Events", new { store_event_id = item.store_event_id})">Un-Register For Event</a></p>
                        <p><a class="btn btn-primary" href="@Url.Action("Details", "Events", new { id = item.store_event_id })">Event Details</a></p>
                    }
                    counter++;
                    }


                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
                    {
                        <p><a class="btn btn-primary" href="@Url.Action("Edit", "Events", new { id = item.store_event_id })">Edit</a></p>
                        <p><a class="btn btn-primary" href="@Url.Action("Delete", "Events", new { id = item.store_event_id })">Delete</a></p>
                    }
</td>
        </tr>
    }
}
</table>
