@model IEnumerable<VideoGameStore.Models.Store_Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.store_event_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_registrants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_full)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_members_only)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_cancelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.street_address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.store_event_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_registrants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_full)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_members_only)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_cancelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.street_address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.store_event_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.store_event_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.store_event_id })
        </td>
    </tr>
}

</table>
