@model IEnumerable<VideoGameStore.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@foreach (var item in Model)
{
        <tr>
            <td>@Html.DisplayNameFor(model => model.username)</td>
            <td>@Html.DisplayFor(modelItem => item.username)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.email)</td>
            <td>@Html.DisplayFor(modelItem => item.email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.user_password)</td>
            <td>@Html.DisplayFor(modelItem => item.user_password)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.first_name)</td>
            <td>@Html.DisplayFor(modelItem => item.first_name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.last_name)</td>
            <td>@Html.DisplayFor(modelItem => item.last_name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.phone)</td>
            <td>@Html.DisplayFor(modelItem => item.phone)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.gender)</td>
            <td>@Html.DisplayFor(modelItem => item.gender)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.birthdate)</td>
            <td>@Html.DisplayFor(modelItem => item.birthdate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.date_joined)</td>
            <td>@Html.DisplayFor(modelItem => item.date_joined)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.is_on_email_list)</td>
            <td>@Html.DisplayFor(modelItem => item.is_on_email_list)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.favorite_platform)</td>
            <td>@Html.DisplayFor(modelItem => item.favorite_platform)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.favorite_category)</td>
            <td>@Html.DisplayFor(modelItem => item.favorite_category)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.notes)</td>
            <td>@Html.DisplayFor(modelItem => item.notes)</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.user_id })</td>
        </tr> 
}

</table>
