@model VideoGameStore.Models.Invoice_Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice_Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.is_billing_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_billing_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.street_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.street_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.invoice_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.invoice_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.invoice_address_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
